.buttonhead {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #48CFCB;
  color: white;
}

.buttonhead:hover {
  background-color: #229799;
    transition: all 0.3s ease-in;
}